@model IdexViewQueryModel

@{
    ViewBag.Title = "Your records for";
}


<h1 class="text-center">@ViewBag.Title @Model.CurrentDayDate.DayOfWeek @Model.CurrentDayDate.Date.ToString("dd/MM/yyyy")</h1>
<hr />
<div class="mb-5"></div>

<div class="d-flex justify-content-center gap-2 mb-5">
    <div style="background-color: ivory; border: 1px solid black; border-radius: 10px" class="col-6 p-5">
        <h4 class="text-center mb-3"><b>Food Records:</b></h4>
        <div  class="d-flex justify-content-center ">
            <partial name="_DiaryFoodRecordsTablePartial" model="Model" />
        </div>
        <div class="d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Food
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" asp-controller="Food" asp-action="All">From Database</a></li>
                    <li><a class="dropdown-item" asp-controller="Food" asp-action="Mine">From My Foods</a></li>
                    <li><a class="dropdown-item" asp-controller="Recipe" asp-action="Mine">Add My Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="background-color: ivory; border: 1px solid black; border-radius: 10px" class="col-6 p-5">
        <h4 class="text-center mb-3"><b>Workout Record:</b></h4>
        <div  class="text-center">
            @if (Model.Workout == null)
            {
                <div>
                    <p class="mb-3">You don't have workout for today yet!</p>
                </div>

                <div>
                    <a class="btn btn-primary" asp-controller="Workout" asp-action="MineTamplates">Add workout</a>
                </div>

            }
            else
            {
                <partial name="_DiaryWorkoutPartial" model="Model" />

                <div class="mb-auto">
                    <a class="btn btn-primary" asp-controller="Workout" asp-action="EditWorkout" asp-route-id="@Model.Workout?.Id">Change Workout Data</a>
                </div>
            }

        </div>


    </div>
</div>

<hr class="mb-5" />

<div class="d-flex justify-content-center mb-5">

    <partial name="_DiaryResultTablePartial" model="Model" />
</div>
<div class="d-flex justify-content-center mb-5">
    <button class="btn btn-primary" id="btn">Show Stats</button>
</div>

<div id="stats" class="row d-none mb-5">
    <div class="col-6">
        <canvas id="caloriesChart"></canvas>
    </div>
    <div class="col-6">
        <canvas id="workoutsChart"></canvas>
    </div>
</div>


@section Scripts{
    <script>
        $('#btn').click(function() {
            let statsDiv = document.getElementById('stats');
            let statsBtn = document.getElementById('btn');
            console.log(statsDiv);
            if (statsDiv.classList.contains('d-none')) {
                statsDiv.classList.remove('d-none')
                statsBtn.textContent = 'Hide Stats'
            }
            else {
                statsDiv.classList.add('d-none');
                statsBtn.textContent = 'Show Stats'
            }
        })
        $(document).ready(function() {
            $.get('/api/statistics', (stats) => {
                const ctx = document.getElementById('caloriesChart');


                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: stats.labels,
                        datasets: [{
                            label: 'Total Calories',
                            data: stats.calories,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                const ctx2 = document.getElementById('workoutsChart');
                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: stats.labels,
                        datasets: [{
                            label: 'Workout Total Load',
                            data: stats.workouts,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        });
    </script>
}


