
<div>
    <input id="btn" type="button" value="Test" />
    <canvas id="caloriesChart"></canvas>
    <canvas id="workoutsChart"></canvas>
</div>


@section Scripts{
    <script>
        $('#btn').click(ev => {
            $.get('/api/statistics', (stats) => {
                const ctx = document.getElementById('caloriesChart');
               

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: stats.labels,
                        datasets: [{
                            label: 'Calories',
                            data: stats.calories,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                const ctx2 = document.getElementById('workoutsChart');
                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: stats.labels,
                        datasets: [{
                            label: 'Load',
                            data: stats.workouts,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        });
    </script>
}
