@using FitnessDiary.Core.Contracts
@using FitnessDiary.Extensions
@inject IAccountService service;
@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello @service.GetAdminUserFullName(User.Id())</h2>
    <p class="lead mb-1 mt-3">
        This is the administration area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> articles and food database.

    </p>
    @if (User.IsInRole("Admin"))
    {
        <p class="lead mt-1">
        You can also see <b>all users </b> and <b>create new administration users</b> in the system.
    </p>
    }
    <hr class="my-4">
    <a asp-area="" asp-controller="Food" asp-action="All"
       class="btn btn-primary btn-lg">All Foods</a>
    <a asp-area="" asp-controller="Food" asp-action="Add"
       class="btn btn-primary btn-lg">Add Food in database</a>
    <a asp-area="" asp-controller="Article" asp-action="All"
       class="btn btn-primary btn-lg">All Articles</a>
    <a asp-area="Administration" asp-controller="Article" asp-action="Add"
       class="btn btn-primary btn-lg">Add Article</a>
    @if (User.IsInRole("Admin"))
    {
        <a asp-area="Administration" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>
        <a asp-area="Administration" asp-controller="User" asp-action="Create"
       class="btn btn-primary btn-lg">Create Administration User</a>
    }
</div>
