@model AddViewModel;

<h3 class="text-center mb-5">Add new Article</h3>
<hr class="mb-5"/>

<form asp-controller="Article" asp-action="Add" method="post">

    <partial name="_AddEditArticleInputPartial" model="@Model" />
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}