@model ArticleDetailsViewModel;

<form asp-controller="Article" asp-action="Edit" method="post">

   <partial name="_AddEditArticleInputPartial" model="@Model"/>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
