@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitnessDiary | Registration Page</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Fitness</b>Diary</a>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="login-box-msg">Start your fitness journey!</h3>

                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="row">
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Username" type="text" class="form-control" placeholder="Username">

                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="FullName" type="text" class="form-control" placeholder="Full name">

                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Age" type="number" class="form-control" placeholder="Age">

                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Height" type="number" class="form-control" placeholder="Height">

                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Weight" type="number" class="form-control" placeholder="Weight">

                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group mb-3 col-6">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>

                        <div class="input-group mb-3 col-6">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActivityLevelId" class="form-label">Activity Level</label>
                        <select asp-for="ActivityLevelId" class="form-control">
                            @foreach (var activityLevel in Model.ActivityLevels)
                            {
                                <option value="@activityLevel.Id">@activityLevel.Type</option>
                            }
                        </select>
                        <span asp-validation-for="ActivityLevelId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FitnessGoalId" class="form-label">Fitness Goal</label>
                        <select asp-for="FitnessGoalId" class="form-control">
                            @foreach (var goal in Model.FitnessGoals)
                            {
                                <option value="@goal.Id">@goal.Type</option>
                            }
                        </select>
                        <span asp-validation-for="FitnessGoalId" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>




            @*    <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
            </a>
            </div>*@

            <a href="login.html" class="text-center mb-2">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
</body>
</html>
