@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><b>Fitness</b>Diary</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Username" class="form-label"></label>
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                       
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
   
                    </div>
                </form>
                <p class="mb-0">
                    <a asp-area="Identity" asp-page="/Account/Register" class="text-center">Register a new membership</a>
                </p>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
