<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         @if (User?.Identity?.IsAuthenticated ?? false)
        {
             <li class="nav-item">
            <a asp-area="" asp-controller="Food" asp-action="All" class="nav-link">
              <i class="fas fa-hamburger"></i>
              <p>
                Food Database
              </p>
            </a>
          </li>
        }
         @if (User?.IsInRole("User") ?? false)
        {
             <li class="nav-item">
            <a asp-area="" asp-controller="Diary" asp-action="Index" class="nav-link">
              <i class="fas fa-book"></i>
              <p>
                My Diary
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Food" asp-action="Mine" class="nav-link">
              <i class="fas fa-hamburger"></i>
              <p>
                My Foods
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Recipe" asp-action="Mine" class="nav-link">
              <i class="fas fa-receipt"></i>
              <p>
                My Recipes
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-area="" asp-controller="Workout" asp-action="MIneTamlates" class="nav-link">
              <i class="fas fa-dumbbell"></i>
              <p>
                My Workouts
              </p>
            </a>
          </li>
        }
        </ul>
      </nav>