@using FitnessDiary.Infrastructure.Data.Enums
@model CreateWorkoutViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left" style="margin-left:10px;">
                <strong>Create Workout Sheet</strong>
            </h2>
        </div>
    </div>



    <form>
        <div>
            <h5 style="color:#ff6347">Workout</h5>
            <hr />
            <div class="form-horizontal">
                <input type="hidden" id="CustomerId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-2">
                        Workout Name
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Name" type="text" id="name" name="name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <label asp-for="Description" class="control-label col-md-2">
                        Description
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Description" type="text" id="description" name="description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <table id="exerciseTable" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <td>Exercise Name </td>
                        <td>Body Part </td>
                        <td>Sets</td>
                    </tr>
                    <tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="addNewExercise()">Add exercise </button>
            <button id="saveWorkout" type="submit" class="btn btn-primary">Save Workout </button>
        </div>
    </form>
    <div class="modal fade" id="exerciseModal">
        <div class="modal-dialog modal-lg" style=" width: 900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add New Exercise</h4>
                </div>

                <div class="modal-body">

                    <h5 style="color:#ff6347">Exercise Details</h5>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Exercise Name
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="exrciseName" name="name" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Body Part
                            </label>
                            <div class="col-md-4">
                                <select id="bodyPart" class="form-control">
                                  @foreach (var name in Enum.GetNames<BodyPartType>())
                                    {
                                        <option value="@name">@name</option>
                                    }
                                </select>
                            </div>
                            <label class="control-label col-md-2">
                                Number of Sets
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="sets" name="sets" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="saveExercise" type="submit" class="btn btn-danger">Save Exercise</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
            function addNewExercise() {
                $("#exerciseModal").modal();
            }

            $("#saveExercise").click(function(e) {
                e.preventDefault();

                if ($.trim($("#exrciseName").val()) == "" || $.trim($("#bodyPart").val()) == "" || $.trim($("#sets").val()) == "") {
                    return alert("All fields are required!")
                }
                if ($.trim($("#sets").val()) <= 0){
                    return alert("Sets must be positive number!")
                }

                let exerciseName = $("#exrciseName").val();
                var bodyPart = $('#bodyPart').find(":selected").val();
                let sets = $("#sets").val();
                let detailsTableBody = $("#exerciseTable tbody");

                var exercise = document.createElement('tr');
                var nameTd = document.createElement('td');
                nameTd.textContent = exerciseName;

                var bodyPartTd = document.createElement('td');
                bodyPartTd.textContent = bodyPart;

                var setTd = document.createElement('td');
                setTd.textContent = sets;

                exercise.appendChild(nameTd);
                exercise.appendChild(bodyPartTd);
                exercise.appendChild(setTd);

                detailsTableBody.append(exercise);
                clearItem();
            });
            function clearItem() {
                $("#exrciseName").val('');
                $("#bodyPart").val('');
                $("#sets").val('');
            }

            $("#saveWorkout").click(function(e) {
                e.preventDefault();

                var exerciseArr = [];
                exerciseArr.length = 0;

                $.each($("#exerciseTable tbody tr"), function() {
                    exerciseArr.push({
                        Name: $(this).find('td:eq(0)').html(),
                        BodyPart: $(this).find('td:eq(1)').html(),
                        SetCount: $(this).find('td:eq(2)').html(),
                    });
                });

                var data = {
                    Name: $("#name").val(),
                    Description: $("#description").val(),
                    Exercises: exerciseArr
                };

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    method: 'POST',
                    url: "/Workout/CreateTamplate",
                    data: JSON.stringify(data),
                    success: function(result) {
                        window.location = "https://localhost:7043/workout/MineTamlates";
                    }
                });
            });
        </script>
    }
